<div id="form-container" class="box has-text-centered">
    <h3 class="title is-size-4-desktop is-size-5">Enter address and amount ({{ faucet_min_btc }}-{{ faucet_max_btc }})</h3>

    {% if notification is defined %}
    <div class="notification {{ notification.class }}">{{ notification.message|raw }}</div>
    {% endif %}

    <form hx-post="/" hx-target="#form-container">
        <div class="field has-margin-top-25">
            <div class="control">
                <input class="input" id="address" name="address" type="text" placeholder="Bitcoin Address (Signet)" tabindex="1" autocapitalize="off" title="Use a valid signet address." required>
            </div>
        </div>
        <div class="field has-margin-top-25">
            <div class="control">
                <input class="input" id="amount" name="amount" type="number" min="{{ faucet_min_btc }}" max="{{ faucet_max_btc }}" step="0.001" placeholder="0.001" tabindex="2" required>
            </div>
        </div>

    {% if use_password %}
        <div class="field has-margin-top-25">
            <div class="control">
                <input class="input" id="password" name="password" type="password" placeholder="Enter password" tabindex="4" required>
            </div>
        </div>
    {% endif %}

    {% if use_captcha %}
        <div class="field has-margin-top-25">
            <div class="control">
                <img id="captcha_img" src="/captcha"/>
            </div>
            <div class="control">
                <input class="input" id="captcha" name="captcha" type="text" placeholder="captcha" tabindex="4">
            </div>
        </div>
    {% endif %}

    <button id="sendButton" class="button is-primary is-fullwidth has-margin-top-25" tabindex="3">Send</button>
    </form>
</div>
