<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ faucet_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="content">
        <section class="hero is-dark has-padding-top-70">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-12-desktop">
                            <p class="is-size-4-tablet is-size-6 has-text-centered">{{ faucet_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-desktop is-8-tablet">
                        <div class="box has-text-centered">
                            <h3 class="title is-size-4-desktop is-size-5">Enter address and amount ({{ faucet_min_btc }}-{{ faucet_max_btc }})</h3>

                            {% if notification is defined %}
                            <div class="notification {{ notification.class }}">{{ notification.message|raw }}</div>
                            {% endif %}

                            <form method="post" action="/" autocomplete="off">
                                <div class="field has-margin-top-25">
                                    <div class="control">
                                        <input class="input" id="address" name="address" type="text" placeholder="Bitcoin Address (Signet)" tabindex="1" autocapitalize="off" title="Use a valid signet address." required>
                                    </div>
                                </div>
                                <div class="field has-margin-top-25">
                                    <div class="control">
                                        <input class="input" id="amount" name="amount" type="number" min="{{ faucet_min_btc }}" max="{{ faucet_max_btc }}" step="0.001" placeholder="0.001" tabindex="2" required>
                                    </div>
                                </div>

                            {% if use_password %}
                                <div class="field has-margin-top-25">
                                    <div class="control">
                                        <input class="input" id="password" name="password" type="password" placeholder="Enter password" tabindex="4" required>
                                    </div>
                                </div>
                            {% endif %}

                            {% if use_captcha %}
                                <div class="field has-margin-top-25">
                                    <div class="control">
                                        <img id="captcha_img" src="/captcha"/>
                                    </div>
                                    <div class="control">
                                        <input class="input" id="captcha" name="captcha" type="text" placeholder="captcha" tabindex="4">
                                    </div>
                                </div>
                            {% endif %}

                            <button id="sendButton" class="button is-primary is-fullwidth has-margin-top-25" tabindex="3">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
